/* 表格边框颜色 */
.table-view *.column-header-background {
    -fx-background-insets: 0px, 0px;
}
.table-column {
    -fx-alignment: center;
}
/*调节padding*/
.table-column{
    -fx-padding:1;
}
.table-view:row-selection .column-header-background .filler{
    visibility: false;
}
/*#deleteBtn {*/
/*    -fx-background-image: url("../img/md-cancel.png");*/
/*    -fx-background-repeat: stretch;*/
/*    -fx-background-position: center center;*/
/*}*/

#title {
    -fx-text-fill: #1692e3;
    -fx-font-size: 20;
    -fx-font-weight: bolder;
    -fx-font-family: "Microsoft YaHei UI";
}